::-webkit-scrollbar {
  width: 11px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #424B54;
}


::-webkit-scrollbar-thumb:hover {
  background: #EBCFB2;
}
