body::-webkit-scrollbar {
  width: 19px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #FFC971;
  outline: 1px solid slategrey;
}
