/* github.com/alfredsaveron/scrollbars/SpaceCadet */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 17px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #8D99AE;
    border: 2px solid #2B2D42;
}
