::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} 

::-webkit-scrollbar-thumb {
  background: #7A8450; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BEE7B8; 
}
