/* github.com/alfredsaveron/scrollbars/Background */
::-webkit-scrollbar {
  width: 14px;
}
 
::-webkit-scrollbar-thumb {
  background: #7289da; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424; 
}
